:root {
    --laranja: rgb(255, 165, 45);
    --preto-gradient: linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220));
    --cinza: rgb(165, 165, 165);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.menuall {

}

.logo, .search, .menu {
    position: relative;
    padding: 30 0 30 0;
}

.title, .form, .link {
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.form input {
    width: 20vw !important;
    box-shadow: none !important;
    border-color: var(--cinza);
    outline: 0 !important;
}

.form input:focus {
    border-color: var(--cor-bg-laranja) !important;
}

.form button {
    color: var(--laranja);
    border-color: var(--laranja);
    box-shadow: none !important;
    outline: 0 !important;
}

.form button:hover {
    color: white;
    border-color: var(--laranja);
    background: var(--laranja);
    box-shadow: none !important;
    outline: 0 !important;
}

.link a {
    color: black;
}

.link a:hover {
    color: var(--laranja);
    text-decoration: none;
}

.navbar {
    background: var(--preto-gradient) !important;
}


.ul-nav {
    padding-left: 30% !important;
    width: 100%;
}

.nav-item {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar-nav li a:hover {
    color: var(--laranja);
}

.carousel-item img {
    height: 70vh;
}
  
    