.navbar {
  margin-bottom: 25px;
  position: absolute;
  z-index: 9999; 
}

.navbar-brand img {
  width: 80px;
  height: 30px;
  margin-right: 45vh;
}

ul li a {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10px;
  font-size: 17px;
}
  

  