.content-user h4, i {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}

hr {
    margin: 2 0 10 0 !important;
}

.card-header {
    background: #F8F9FA !important;
}

table thead {
    font-weight: bold;
}

#tableUser tr:hover td{
    background:rgba(245, 245, 245, 1);
}

#tableUser tr.selecionado td{
    background:rgba(245, 245, 245, 0.75);
}